@use '../base/variables' as *;
@use '../base/tokens' as *;
@use '../base/_mixin' as *;
@use "sass:map";

.page-footer{
    width: 100%;
    grid-row: 3;
    footer{
        max-width: 1400px;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: map.get($colors, primary);
        font-size: 13px;

        nav{
            ul{ 
                display: flex;
                align-items: center;
                gap: 6px;
                li{
                    a{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        @include respond-max(lg) {
            padding: 0 20px;
        }
    }
}