// 모들별 mixin
@use "sass:map";
@use "./tokens" as *;

// text style mixin
@mixin font-style($role-size, $weight: regular, $lh: normal, $ls: default) {
    font-size: map.get($font-sizes, $role-size);
    font-weight: map.get($font-weights, $weight);
    line-height: map.get($line-heights, $lh);
    letter-spacing: map.get($letter-spacings, $ls);
}

//responsive
@mixin vh-full() {
  height: 100vh;
  height: 100dvh;
  height: calc(var(--vh, 1vh) * 100);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// iOS Safari flex-bug 대응 (특정 상황)
@mixin fix-ios-flex {
  min-height: 0;
  min-width: 0;
}
/***
사용 방법
***/
.full-page {
    @include vh-full;
    @include flex-center;
}